<!-- Content Row -->

<div class="row">

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title" > Mumbai Indians</h2>

          <p> History Making team with 5 Times Champions </p>

        </div>

        <div class="card-footer">

          <a href="https://www.mumbaiindians.com/" class="btn btn-primary btn-sm">More Info</a>

          

        </div>

      </div>

    </div>

    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title"> Chennai Super Kings </h2>
         
          <p> 4 times Champions and the defending champs</p>

        </div>

        <div class="card-footer">

          <a href="https://www.news18.com/cricketnext/news/chennai-super-kings-ipl-auction-2022-day-2-live-updates-players-list-complete-csk-squad-news-4766801.html" class="btn btn-primary btn-sm">More Info</a>
          
          
        </div>

      </div>

    </div>

    <!-- /.col-md-4 -->

    <div class="col-md-4 mb-5">

      <div class="card h-100">

        <div class="card-body">

          <h2 class="card-title">Royal Challengers Bangalore</h2>
          <p> waiting for their first Victory in Ipl </p>

        </div>

        <div class="card-footer">

          <a href="https://www.royalchallengers.com/" class="btn btn-primary btn-sm">More Info</a>

        </div>

      </div>

    </div>

   <!-- /.col-md-4 -->

  </div>

  <!-- /.row -->

  <div class="card text-white my-5 py-4 text-center">

    <div class="center">

<video width="320" height="240" controls style="align-content: center;"> 

<source src="https://www.youtube.com/watch?v=kANp0BeARwQ" type="video/mp4"/>

      Your browser does not support the video tag.

</video>

</div></div>

<div class="card-body" id="youtube">

    <p class="text-white m-0" style="font-size: x-large; text-align: center;">

<a href="https://www.youtube.com/watch?v=izTczZ9_uCg"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/youtube.png" width="150px" height="150px"></a></p>

<br><h4>Check Out Our YouTube Channel for Technical Videos</h4>

</div>

<!-- /.container -->