<!-- Page Content -->

<div class="container">

    <!-- Heading Row -->

    <div class="row align-items-center my-5">

      <div class="col-lg-7">

        <img class="img-fluid rounded mb-4 mb-lg-0" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202202/Tata_IPL_0_1200x768.jpeg?4zs4ahFZBet2C7K9lw8WH0O7iWeLBgyp&size=770:433" alt="">

      </div>

      <!-- /.col-lg-8 -->

      <div class="col-lg-5">

        <h1 class="font-weight-light"> Indian Preimium League  </h1>

        <p>10 teams going to participate <br>

            After a mega Auction the players are Shuffled <br>

            Lets See which team is going to Lift the trophie <Title></Title></p>

        <a class="btn btn-primary" href="https://sports.ndtv.com/ipl-2022/ipl-2022-auction-full-list-of-players-sold-and-unsold-in-indian-premier-league-mega-auction-2764282">Explore More</a>

      </div>

      <!-- /.col-md-4 -->

    </div>

    <!-- /.row -->

    <!-- Call to Action Well -->

    <div class="card text-white bg-secondary my-5 py-4 text-center">

      <div class="card-body">

        <p class="text-white m-0" style="font-size: xx-large;">The Teams are Ready to Fight</p>

      </div>

    </div>

